body{
    background-color: #ffffff;
    width:100%;
    margin:0;
    padding:0;
    font-size: medium;

}




.marges{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left:2.2rem;
    line-height: 1rem;

}

.margesbasdepage{
    padding-top:2rem;
    padding-left:2rem;
}
.margesbasdepage .flex-text{
padding-left:0.5rem;
}

.flex-text p{
    font-size: x-large;
}


/* Debut header Debut header  Debut header Debut header Debut header 
Debut header Debut header Debut header Debut header Debut header*/

header
{
    width:100%;
    height:3rem;
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;

    justify-content:space-between;
    margin-bottom: 1.5rem;
    
}

header nav{
    height:3.2rem;  /* taille header + taille bordernav */

    display:inline-flex;
    
    justify-content: flex-end;
    


}

header nav p{
    font-family: Verdana, sans-serif;
    font-size: small;
}


nav ul{
    display:flex;
    flex-wrap: nowrap;
    
    
}

nav ul li{
    display: flex;
justify-content: center;
align-items: center;
width: 14rem;
}

nav ul li a {
    padding-top:0.35rem;
    
}

nav ul li .p1 p{
    color: black;
}

nav ul li .p1 p:hover{
   color: #0065FC;
}

nav ul li:hover{



}

nav a {
    outline: none;
    text-decoration: none;
    color: #0065FC;
    font-family: Verdana, sans-serif;
    font-size:0.8rem;

   display: flex;

}

nav p {

}

nav a:visited {
    text-decoration: overline;
}

.logo{
  margin-top:0.4rem;
}


header ul li{
    list-style: none;

}

header img{
    height:2.5rem;
    width:auto;

}

nav ul li .bordernav{
    background-color: #fff;
    height: 0.2rem;
    width:100%;
}
.bordernav:hover{
background-color: #0065FC;
}

nav ul li:hover .bordernav{
background-color: #0065FC;
}
nav ul li:hover p{
    color: #0065FC;
}
.elementwrapernav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    flex-wrap: nowrap;


}

/* bouton */

.buttonwrap1{
    display:flex;
    flex-wrap: nowrap;

    height:3rem;
justify-content: flex-start;
    align-items: stretch;

    margin-bottom: 2rem;

}

.buttonwrap1 i{

    display: inline-flex;
    align-items: center;
    justify-content:center;


    height:100%;


    border-top-left-radius: 1rem;
    border-bottom-left-radius:1rem;


}

.buttonwrap1 i::before{
width:auto;
    padding-left: 1rem;
    padding-right: 1rem;

    border-top-left-radius: 60%;
    border-bottom-left-radius: 60%;

}

.buttonwrap1 .fas{

}

.recherchetexte{
    height:88%;
    border: none;
width: 13.5rem;


}

.info{
    display:inline-flex;
    margin-right:15rem;
    align-items: center;
    justify-content: space-between;

    height:100%;
    margin-bottom: 1.5rem;

}

.info p{
  padding-left: 0.4rem;
}

.info i{


    border-radius: 60%;
    background-color: #0065FC;


}

.info i:before{


    background-color: #ffffff;
    border-radius: 60%;

    height:2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.20rem solid #f2f2f2;

}






.recherchebutton{
    height: auto;

    display: inline-flex;
    align-items:center;
    background-color: #0065FC;
border:none;
border-top-right-radius: 1rem;
    border-bottom-right-radius:1rem;

}

.recherchebutton p{
    border-top-right-radius: 60%;
    border-bottom-right-radius: 60%;
    width: 5.6rem;

    background-color: #0065FC;
    color: white;
}

.formulaire-recherche i{
    display: inline-flex;
    background-color: #f2f2f2;

}

.titreformulaire{
    font-size:x-large;
}

.formulaire-recherche{
    line-height: 0.4rem;
}



/* début filtres  début filtres   début filtres  début filtres  début filtres 
 début filtres  début filtres  début filtres  début filtres  */

.filtres{
    display:inline-flex;
    
    align-content: center;

   flex-wrap:wrap;


   height: 2.7rem;  /* modifié la taille de filres */
  margin-bottom: 1.5rem;
}

.filtres a{
    outline: none;
    text-decoration: none;
    font-family: Verdana, sans-serif;

}

.titrefiltres{
    height: 100%;
    display: flex;

    align-items: center;

}

.filtres p{
    
    font-size: medium;
    color:black;
    
    

}

p{
    font-family: Arial, Helvetica, sans-serif;

    }



.filtresbutton{


border:rgb(222, 235, 255) solid 0.15rem;
display:inline-flex;
border-radius:5rem;
align-items: center;
height:100%;
overflow: hidden;
background-color: #ffffff;
margin-left:2rem;
width:auto;
    margin-bottom: 1rem;




}



.filtresbutton i{

                                                      
   border:#DEEBFF solid 0.15rem;
    border-radius: 60%;
    width:2.5rem;                     /* valeur a modifié pour garder le cercle de l'icone quand on modifie la taille des filtres */
    height:100%;
    margin:-0.40rem;         
    display:flex;
    align-items:center;      /*centre l'icône à la vertical */
    justify-content:center;  /* centre l'icône en horizontal */
    
    background-color:#DEEBFF;
    
    
    
    
    

}

.filtresbutton a{
padding-left:1rem;
display: flex;
justify-content: flex-start;
align-items: center;
margin-right: 1rem;
}

.fas {
    color: #0065FC;
}

.faswhite{
   color: #f2f2f2;
}
/* début hébergement début hébergement début hébergement
début hébergement début hébergement début hébergement */
.hebergementText{
padding-left: 2rem;
    font-size: x-large;
}

.border-hebergement{
    border: 0.20rem solid #ffffff;
    display: inline-flex;
    flex-direction: column;
    border-radius: 2rem;
    background-color: #f2f2f2;
    margin-left: 2rem;
    flex-grow: 1;

}

.hebergement-wrapper{

    height:auto;
    flex-wrap: wrap;
}

.divafficherplus{
margin-left: 2rem;
    display: flex;
    align-items: center;
    align-content: center;

}

.afficherplus p{
    font-family: Verdana, sans-serif;
    font-size: medium;
}

.afficherplus:link{
    text-decoration:none;
    color:black;
}
.afficherplus:visited{
    color:black;
}
.article-container{


    width:5rem;
    background-color: #ffffff;

    border:0.1rem solid #ffffff;
    border-radius: 2rem;



    flex-grow: 1;
    margin-left:2rem;
    margin-bottom:2rem;


}
.hauteurdeligne{
  line-height: 0.5rem;
    display:flex;
    flex-direction: column;
 padding-left: 1rem;


}

.hauteurdeligne .rate i::before{
    line-height: 2.5rem;
    margin-bottom: auto;
}
.hauteurdeligne p{
margin-bottom: auto;
    font-family: Verdana, sans-serif;
    font-size: medium;
}

.ligne-hebergement{
    display: flex;
    flex-wrap: wrap;
    margin-right: 2rem;
}

.ligneun{

}
.lignedeux{

}


.article-container img{
    width:100%;
    height: 9rem;

}

/* debut aside */
aside{

}

aside .populaire{
background-color: #f2f2f2;
    height:100%;
    flex-grow: 4;
    width:35rem;
    border: 0.1rem solid #ffffff;
    margin-left:2rem;
    margin-right: 2rem;
    border-radius:2rem;

    display: inline-flex;
    flex-direction: column;



}

.article--populaire-container{

    border:0.2rem solid #ffffff;
    border-radius: 2rem;
    display:inline-flex;
    margin-bottom:2rem;  /* sur les conteneur inline-flex margin=marge inerieur - padding = marge exterieur */
    margin-left:2rem;
    margin-right: 2rem;


    max-height:10rem;
    padding:0.20rem;
    background-color: white;
}

.article--populaire-container img{
height: 10rem;
width:10rem;
}

.article--populaire-container .img{

    width:100%;
}

.populairetext p{
line-height:1rem;

    margin-bottom:0.7rem;
}




.article-container{
    padding:0.30rem;
    display: inline-flex;
    flex-direction: column;
}

.article-container img{
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

article--populaire-container{
    display:inline-flex;
    flex-direction: row;

}

.article--populaire-container img{
width:10rem;

    display: flex;
overflow:hidden;
  border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;


}

.article--populaire-container .img{

}

.article--populaire-textwrapper{
  display: flex;
    flex-direction: column;

    padding-left: 1rem;
    justify-content: space-between;


}

.middlepart{
    display: flex;


}
/* début footer  début footer  début footer  début footer  début footer 
 début footer  début footer  début footer  début footer */

footer{
    
width:100%;
background-color: #f2f2f2;
    font-family: Verdana, sans-serif;
    font-size: large;
}


footer ul li{
    list-style: none;
flex-grow: 1;
    line-height: 0;


}

footer ul li p{
    font-family: Verdana, sans-serif;
    font-size: small;

}

.footertitre{
    line-height: 0.5rem;
}

.limitationfooterin{     /* footer wrapper */

    display: flex;
    -ms-flex-align: start;
    justify-content: space-between;
    padding-top: 2rem;
    align-items:baseline;
    padding-left:2.5rem;
 flex-direction: row;
}

.apropos{
    margin-bottom: 2rem;
}
.assistance{
    margin-right:33rem;
}

footer .up{
    

    flex-direction: column;
    justify-content: flex-start;
    
   
    
    
}




footer .up ul{
display:flex;
    flex-direction: column;
    padding:0;
    
   
}

footer .up li a p{
    font-size: medium;
    font-family: Verdana, sans-serif;
}



footer a{
color:black;
}



footer a{
    outline: none;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: medium;
}



