html a{
    text-decoration:none;
    color:black;
}

html{
    line-height:0.4em;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

html p{
    line-height: 1.5rem;
}

div.activite-wrapper .titreactivite{
    margin-left:0;
    padding-left:0;

}

div.marge{
    padding-left:4rem;
    padding-right:4rem;
    margin-top:0.53333333rem;

}
body{
    padding:0;
    margin:0;
}

div.boxshadow{
    box-shadow:rgba(100, 100, 111, 0.2) 0 0.4375rem 1.8125rem 0;
}


a.bordernav:hover{
    border-color: #0065FC;
    color: #0065FC;
}

.sinscrire{
    font-weight: bold;
    color: #0065FC;
}

div.titrearticle p{
    font-weight: bold;

}
/* Debut header Debut header  Debut header Debut header Debut header
Debut header Debut header Debut header Debut header Debut header*/



/*FIN NAV FIN HEADER NAV */

nav{
    display:flex;
    padding-left:4rem;
    padding-right:2rem;
}



nav a{
    border-top:0.125rem solid white;
    padding-top:3.125rem;
    padding-left:1.875rem;
    padding-right:1.875rem;
}

nav a:hover a.bordernav{
    border-color:#0065FC;
}


.logo{
    flex-grow:2;
    margin-top:25px;


}

div.logo img{
    height: 2.5rem;
}

/*recherche button */

.buttonwrap1{
    display:flex;
    flex-wrap: nowrap;
    height:3rem;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 2rem;
}

button.recherchebutton{
    display: flex;
    justify-content: center;
    font-size: medium;
}

button.recherchebutton span{
    margin-left: 1rem;
    color: white;
}

.buttonwrap1 i.localcolor{

    display: flex;
    align-items: center;
    justify-content:center;
    height:100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius:1rem;
}

.buttonwrap1 i.localcolor::before{
    width:auto;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-left-radius: 60%;
    border-bottom-left-radius: 60%;
}

.recherchetexte{
    height:88%;
    border: none;
    width: 14.375rem;
}

.recherchebutton{
    height: auto;
    display: inline-flex;
    align-items:center;
    background-color: #0065FC;
    border:none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius:1rem;
}

.recherchebutton p{
    border-top-right-radius: 60%;
    border-bottom-right-radius: 60%;
    width: 5.6rem;
    background-color: #0065FC;
    color: white;
}

.formulaire-recherche i{
    display: flex;
    background-color: #f2f2f2;
}

.formulaire-recherche i.searchicon{
    color: white;
    visibility: hidden;
    background-color: #0065FC;
}

.localcolor:before{
    color:black;
}
.titreformulaire{
    font-size:x-large;
    line-height:1.5rem;
}

.formulaire-recherche{
    line-height: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.complementTitreForm{
    margin-bottom:1.5rem;
}



/*fin recherche button*/
/*debut filtres*/
div.filtresection{



    display:flex;
    flex-direction:row;
    justify-content:flex-start;

    height:auto;
    width:auto;


    flex-wrap:wrap;
}

div.filtresection a{
    margin-bottom: 1rem;
}

.filtressection__cliquable__button{
    display:flex;
    align-items:center;

    height:50px;

    border-radius:2rem;
    border:#DEEBFF solid 0.15rem;

    background:white;


}

div.filtressection__cliquable__button__icone{
    overflow:hidden;

    height:50px;
    width:50px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;
    left:-3px;

    border:#DEEBFF solid 0.15rem;
    background-color:#DEEBFF;
}

i{



}
div.filtresection div.titrefiltres p
{
    font-size: medium;
    font-weight: bold;
}
div.filtressection__cliquable__button p{

    font-weight: bold;
}


i::before{
    color:blue;

    display:flex;
    justify-content:center;



}

div.filtresection a{
    margin-right:24px;
    text-decoration:none;

}

div.filtressection__cliquable__button p{
    margin-left:10px;
    margin-right:24px;
    color:black;


}

div.titrefiltres{
    margin-right:33px;
}


/*fin filtres*/

/*info */

html body div.marge div.info{
    display:flex;
    align-items: baseline;

    height: auto;
    margin-bottom:2rem;
    flex-direction: row;


}

.info i{
    padding-left:0;
}

.info p{
    padding-left: 0.5rem;
    margin-bottom:0.4rem;
    margin-top:2.5rem;


}

.info i{
    border-radius: 60%;
}

.info i:before{
    background-color: #ffffff;
    border-radius: 60%;
    height:1.2rem;
    width: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.20rem solid #f2f2f2;
}
/* fin info */


/*aspect general */



/* image article-container*/

div.ligne div.hebergement-article-container{
    border-radius:2rem;
    overflow:hidden;
    border:6px solid white;
}


div.hebergement-wrapper div.img-container-grow img{
    height:7.5rem;
    width:100%;
    object-fit: cover;
    object-position:bottom;

}

div.populaire-article-container div.img-container-grow img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:bottom;
}


div.activite-wrapper div.img-container-grow{



    overflow:hidden;
}
div.activite-wrapper div.img-container-grow img{

    width:100%;
    height:100%;

}


a.container-cliquable div.img-container-grow{
    overflow:hidden;

}

div.activite-text-container{
    min-height:3.5rem;
}
/* border radius + padding box*/

.boxradius{
    border-radius: 2rem;
}

.topboxradius{
    border-top-left-radius:2rem;
    border-top-right-radius:2rem;
}

.bottomboxradius{
    border-bottom-left-radius:2rem;
    border-bottom-right-radius:2rem;
}

.rightboxradius{
    border-top-right-radius:2rem;
    border-bottom-right-radius:2rem;
}
/*
.leftboxradius{
    border-top-left-radius:2rem;
    border-bottom-left-radius:2rem;
}
*/
.wrapperpadding{
    padding:1rem;
}

/*fin aspect general*/

/*middlepart*/

div.middlepart-wrapper{
    display:flex;
    height:auto;
    margin-bottom:2rem;
}

/*hebergement*/

div.hebergement-wrapper{
    background-color:#f2f2f2;
    flex-grow:1;
}

div.hebergement-article-container{

    height:12.5rem;
    width:33%;
    margin:0.9375rem;


}


div.ligne{
    display:flex;
    flex-direction:row;

}

a.container-cliquable{
    display:flex;
    height:100%;
    flex-direction:column;

}

div.img-container-grow{
    flex-grow:2;


}



div.hebergement-text-container{

    height:5rem;
    background:white;
    padding-left:0.9375rem;



}

div.hebergement-text-container p{
    line-height:0.5rem;
}


div.activite-text-container{
    height:3.5rem;
    padding-left:0.9375rem;
}

/* contenu hebergement*/

/*texte hebergement*/
div.h1{
    margin-left:0.9375rem;
    margin-bottom:0.9375rem;
    margin-top:0.9375rem;
    font-weight: bold;
    font-size:20px;
}



div.Afficherplus{
    margin-left:0.9375rem;
    margin-top:2.1875rem;
    font-weight: bold;
}

/* fin texte hebergement*/

/*fin hebergement*/


/*aside*/
.populaire-wrapper > div:nth-child(1){
    margin-bottom:1.875rem;
}
aside.populaire-wrapper{
    background-color:#f2f2f2;
    min-width:26.25rem;
    margin-left:4rem; /*midle marge*/
}

aside .populaire-article-container{
    background:white;
    height:145px;
    margin: 0.9375rem 0.9375rem 1.875rem;
    border:6px solid white;
    overflow:hidden;
}

div.img-container-grow{

}

div.populaire-article-container .container-cliquable{
    flex-direction:row;
}

div.populaire-text-container{
    width:13.125rem;
    height:100%;
    background:white;
    padding-left:0.9375rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

div.populaire-article-container .img-container-grow{

  min-width:160px;
    width:8.125rem;
}

html body div.marge div.middlepart-wrapper aside.populaire-wrapper.boxradius.wrapperpadding div.populaire-article-container.boxradius.boxshadow a.container-cliquable div.populaire-text-container.rightboxradius p{
    margin-top:0;
}

/*fin aside*/

/*fin middlepart*/


/*Activite à marseille*/

div.h1:nth-child(2){
    margin-top:1.875rem;
    margin-bottom:0;
}

div.activite-wrapper{
    display:flex;
    height:auto;
    margin-bottom:2rem;

}



div.activite-article-container{
    background:white;
    flex-grow:1;
    margin:1rem;
    border-radius:2rem;
}

div.activite-article-container.boxshadow a.container-cliquable{
  box-sizing: border-box;
    border:6px solid white;
    overflow:hidden;
    border-radius:2rem;
}

div.activite-second-wrapper{
    flex-grow:1;
    margin-top:1rem;
    display:flex;
    flex-direction:column;

}
div.superheight:nth-child(1){
    margin-left:0;
}

div.h1:nth-child(5){
    margin-left:0;
}

div.activite-wrapper .h1{
    margin-left:0;

}
/* A regrouper*/

div.activite-second-wrapper:nth-child(2) > div:nth-child(1){
    margin-top:0;
    height:15rem;
}

div.activite-second-wrapper:nth-child(2) > div:nth-child(2){
    margin-bottom:0;
    height:10rem;

}

div.activite-second-wrapper:nth-child(4) > div:nth-child(1){
    margin-top:0;
    height:12.5rem;
    margin-right:0;
}

div.activite-second-wrapper:nth-child(4) > div:nth-child(2){
    margin-bottom:0;
    height:13.4375rem;
    margin-right:0;
}

/* fin A regrouper*/

div.superheight{
    height:28.125rem;
    width:25%;
}
/*Fin Activite à marseille*/


/* Debut footer*/

footer{
    display:flex;
    background:#f2f2f2;
    height:auto;
    padding:3rem;


}

div.footerpart{
    flex-grow:1;
    height:auto;

}

div.footerpart span{
    font-weight:bold;
}

div.footerpart ul{
    list-style:none;
    padding-left:0;
}

div.footerpart ul a{
    text-decoration:none;
    color:black;
}

/* Fin footer*/


@media (max-width:1675px){

    nav.mobile{
        padding-left:3rem;
    }

    div.marge{
        padding-left:3rem;
        padding-right:3rem;
    }

    aside.populaire-wrapper{

        margin-left:3rem; /*midle marge*/
    }
}


@media (max-width:1516px){

    nav.mobile{
        padding-left:2rem;
    }

    div.marge{
        padding-left:2rem;
        padding-right:2rem;
    }

    aside.populaire-wrapper{

        margin-left:2rem; /*midle marge*/
    }
}

@media (max-width:1420px){
    div.ligne{
        flex-direction:column;

        width:50%;
    }

    div.hebergement-second-wrapper{
        display:flex;
    }

    div.hebergement-article-container{
        width:auto;
    }


    @media (max-width:1150px){
        div.marge{
            padding-left:4rem;
            padding-right:4rem;
        }



        nav.mobile{
            padding-left:4rem;
        }

        div.middlepart-wrapper{
            flex-direction:column;
            margin-bottom:2rem;

        }

        aside.populaire-wrapper{
            margin-left:0;
            margin-bottom:2rem;
            order:-1;
        }

        aside div.populaire-article-container{
            height:12.5rem;
        }

        div.populaire-text-container{
            width:60%;
            height:100%;
            background:white;
        }

    }

    @media (max-width:1000px){

        header{
            position:relative;
            top:0;
            left:0;
            right:0;
            background:white;
        }

        nav.mobile{
            flex-wrap:wrap;
            padding-left:0;
            padding-right:0;
        }


        .sinscrire{
            margin-right:1.25rem;
            font-weight: bold;
            color: #0065FC;
        }

        div.logo{
            margin-left:4rem;

        }



        div.logo img{
            height: 2.5rem;
        }

        .mobile a{
            width:50%;

            padding-left:0;
            padding-right:0;
            border-top:none;
        }

        a.bordernav{
            border-bottom:0.1875rem solid white;
            padding-bottom:0.9375rem;
            padding-top:2.5rem;
        }

        .hebergement{
            order:2;
            text-align:center;
        }

        .activite{
            order:3;
            text-align:center;
        }

        .sinscrire{
            text-align:right;
        }

        div.marge{
            margin-top:1rem;
        }


        div.activite-second-wrapper{
            height:auto;
            margin:0;
        }
        div.activite-wrapper{
            flex-direction:column;
            height:auto;
            margin:0;

        }


        div.superheight{
            width:100%;
        }





        div.activite-second-wrapper:nth-child(4) > div:nth-child(2), div.activite-second-wrapper:nth-child(4) > div:nth-child(1), div.activite-article-container:nth-child(3), div.activite-second-wrapper:nth-child(2) > div:nth-child(2), div.activite-second-wrapper:nth-child(2) > div:nth-child(1), div.superheight:nth-child(1){
            height:12.5rem;
            margin: 0 0 1.875rem;
        }



        div.activite-wrapper div.img-container-grow img{
            height:9rem;
            object-fit:cover;
        }
    }

    @media (max-width:799px){

        div.ligne{
            width:100%;
        }

        nav div.logo{
            margin-left:1.25rem;
        }


        div.marge div.h1{
            padding-left:0;
        }

        div.formulaire-recherche{
            padding-right: 20px;
            padding-left:20px;
        }

        div.titrefiltres{
            margin-left:0;
            width:100%;
            margin-right: 5000px;
        }
        .filtresection > a:nth-child(4) {
            margin-right:300px;
        }

        .filtresection > a:nth-child(5){
            margin-right: 100px;
        }
        div.filtresection > a:nth-child(2), .filtresection > a:nth-child(3) {
            margin-right:10px;
        }
        div.filtresection > a:nth-child(3){
            margin-right:0;
        }

        aside.populaire-wrapper{
            border-radius:0;
            padding-left:1.25rem;
            padding-right:1.25rem;
        }


        .hebergement-second-wrapper{
            flex-direction:column;
        }
        aside.populaire-wrapper{
            min-width:1rem;
        }
        div.marge{
            padding-left:0;
            padding-right:0;
        }

        div.hebergement-article-container{
            margin-left:0;
            margin-right:0;

        }

        div.wrapperpadding{
            padding-right:1.25rem;
            padding-left:1.25rem;
        }

        aside .populaire-article-container{
            margin-left:0;
            margin-right:0;
        }
        .wrapperpadding{
            padding-left:0;
            padding-right:0;
        }

        div.hebergement-wrapper{
            background: none;
        }

        .activite-wrapper{
            padding-left:1.25rem;
            padding-right:1.25rem;
        }

        div.recherchetexte{
            width:14.375rem;
        }

        section.formulaire-recherche{
            padding-right:1.25rem;
            padding-left:1.25rem;
        }

        div.filtres{
            padding-left:1.25rem;
        }

        div.info{
            padding-left:1.25rem;
            padding-right:1.25rem;
        }

        footer{
            flex-direction:column;
        }

        button.recherchebutton > span:nth-child(1){
            display:none;
        }



        i.searchicon::before{
            color:white;
            visibility:visible;
            margin-left:0.625rem;
            margin-right:0.625rem;

        }

        div.footerpart{
            margin-bottom:3.4375rem;
        }

        footer{
            padding-bottom:0;
        }
    }
}