body{
    background-color: #ffffff;
    height:auto;
    width:100%;
    margin:0;
    padding:0;
    font-size: medium;

}

*,::before,::after {


}


.marges{


    margin-right:1.5rem;
    margin-left:1.5rem;
    align-items: flex-start;
}

.margesbasdepage{
    padding-top:2rem;
    padding-left:2rem;
    padding-right: 2rem;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;


}
.margesbasdepage .flex-text{
padding-left:0.5rem;

}

.flex-text p{
    font-size: x-large;
}

.activite-container{

box-shadow:0.2rem 0.2rem 0.2rem 0.2rem #f2f2f2;
    border-radius: 2rem;
margin-bottom:2rem;

}
.activite-container .img{
    border-radius: 2rem;
    overflow: hidden;
}
.activite-container img{
    flex-grow:1;
}
.activite-resize img{
    width: 100%;
    height: auto;
}
.activite-resize{
    flex-grow: 1;
    display: inline-flex;
    max-width: 30rem;
    flex-direction: column;


}



div.activite-wrapper{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.activite-wrapper-in .activite-container:nth-child(odd) {

}

div.activite-wrapper-in{
    display: inline-flex;
    flex-direction: column;


}


.activite-container img{
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    height:22rem;
    background-color: red;

}
.activite-container p{


}




/* Debut header Debut header  Debut header Debut header Debut header 
Debut header Debut header Debut header Debut header Debut header*/

header
{

    height:auto;
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
width: 100%;
    justify-content:space-between;
    margin-bottom: 1.5rem;
    
}

header nav{
    min-height:3.2rem;  /* taille header + taille bordernav */

    display:inline-flex;
    
    justify-content: space-between;
    


}

header nav p{
    font-family: Verdana, sans-serif;
    font-size: small;
}


nav ul{
    display:flex;

    margin-top:0;
    min-width:20rem;
    
}

@media screen and (max-width: 650px){
    div.marges{

    }
    div.titrefiltres{
        margin-right: auto;
    }
    .buttonwrap1{

    }
    button.recherchebutton{
        width: 3rem;
    }

    button.recherchebutton p{
        display: none;
    }
    button.recherchebutton i.fas{
        visibility: visible
    }

    div.info{

        margin: 0;
        width: 100%;
    }
    .filtres{

        flex-direction: column;
        margin-left: 0;
    }

    .ecofamirow{
        margin-right:0;
    }
    .complementTitreForm{

        margin-bottom:2rem;
    }

    .complementTitreForm p{

    }


    .fa-search{
        color: purple;
    }

    button.searchicon{
        visibility: hidden;
    }
}





@media screen and (max-width: 800px) {

    .complementTitreForm{

    }
    .buttonwrap1{

    }
    .formulaire-recherche div.titreformulaire{
        padding-left:0;
    }
     .titreformulaire {
         display: flex;
         max-width: 100%;

         padding-left: 2rem;
         flex-direction: column;
         align-items: center;
     }




    nav{
    width:500rem;
    }
    nav ul .sinscrire {
    position: absolute;
        top:0;
        right:2rem;
    }
    .bordernavswitch{
        order:2;
    }

    .marges{
        padding:0;
    }
    nav ul{
        width: 100%;
        padding: 0;
    }

    div.elementwrapernav.none:hover{
        border-bottom: 1px solid black;
    }

    header{
padding: 0;
    }

    div.middlepart{
        flex-wrap: wrap-reverse;
        margin: 0;


    }

    aside{
        width:100%;


    }

    aside div.populaire{
        margin-left: 0;
        background-color: #f2f2f2;
        display: flex;


    }

    div.border-hebergement{
        background-color: white;


    }



    footer ul li{
        margin-right:5rem;
    }

    aside div.populaire{
        border-radius: 0;
    }
    .filtres{
        margin-left: 0;
    }

}






nav ul li{
    display: flex;
justify-content: center;
align-items: center;
flex-grow:1;
}

nav ul li .topwrap{

}

nav ul li a {
    padding-top:0.35rem;
    
}

nav ul li .p1 p{
    color: black;
}

nav ul li .p1 p:hover{
   color: #0065FC;
}

nav ul li:hover{



}

nav a {
    outline: none;
    text-decoration: none;
    color: #0065FC;
    font-family: Verdana, sans-serif;
    font-size:0.8rem;

   display: flex;

}

nav p {

}

nav a:visited {
    text-decoration: overline;
}

.logo{
  margin-top:0.4rem;
}


header ul li{
    list-style: none;

}

header img{
    height:2.5rem;
    width:auto;
    padding-left:1.5rem;

}

nav ul li p{

}

nav ul li .bordernav{
    background-color: #fff;
    height: 0.2rem;
    width:100%;
}
.bordernav:hover{
background-color: #0065FC;
}

nav ul li:hover .bordernav{
background-color: #0065FC;
}
nav ul li:hover p{
    color: #0065FC;
}
.elementwrapernav{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    flex-wrap: nowrap;


}

/* bouton */

.buttonwrap1{
    display:flex;
    flex-wrap: nowrap;

    height:3rem;
justify-content: flex-start;
    align-items: stretch;

    margin-bottom: 2rem;

}

button.recherchebutton i.searchicon{

}

button.recherchebutton{
    display: flex;
    justify-content: center;
    font-size: medium;
}
.buttonwrap1 i.localcolor{

    display: flex;
    align-items: center;
    justify-content:center;


    height:100%;


    border-top-left-radius: 1rem;
    border-bottom-left-radius:1rem;


}

.buttonwrap1 i.localcolor::before{
width:auto;
    padding-left: 1rem;
    padding-right: 1rem;

    border-top-left-radius: 60%;
    border-bottom-left-radius: 60%;

}

.buttonwrap1 .fas{

}

.recherchetexte{
    height:88%;
    border: none;
width: 13.5rem;


}

.info{
    display:inline-flex;

    align-items: baseline;
    justify-content: center;

    height: auto;

}

.info i{
    padding-left:2rem;
}

.info p{
  padding-left: 0.5rem;


}

.info i{


    border-radius: 60%;



}

.info i:before{


    background-color: #ffffff;
    border-radius: 60%;

    height:1.2rem;
    width: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.20rem solid #f2f2f2;

}






.recherchebutton{
    height: auto;

    display: inline-flex;
    align-items:center;
    background-color: #0065FC;
border:none;
border-top-right-radius: 1rem;
    border-bottom-right-radius:1rem;

}

.recherchebutton p{
    border-top-right-radius: 60%;
    border-bottom-right-radius: 60%;
    width: 5.6rem;

    background-color: #0065FC;
    color: white;
}

.formulaire-recherche i{
    display: flex;
    background-color: #f2f2f2;

}

.formulaire-recherche i.searchicon{
 color: white;
    visibility: hidden;
    background-color: #0065FC;
}

.localcolor:before{
    color:black;
}
.titreformulaire{
    font-size:x-large;
    line-height:1rem;
}

.formulaire-recherche{
    line-height: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



/* début filtres  début filtres   début filtres  début filtres  début filtres 
 début filtres  début filtres  début filtres  début filtres  */

.filtres{
    display:inline-flex;

    align-content: space-around;
   max-width: 100rem;
   flex-wrap:wrap;


   height: auto;  /* modifié la taille de filres */
  margin-bottom: 2rem;
}

.filtres a{
    outline: none;
    text-decoration: none;
    font-family: Verdana, sans-serif;

}

.titrefiltres{
    height: 100%;
    display: flex;
    margin-right: 1rem;
    align-items: center;

}

.filtres p{
    
    font-size: medium;
    color:black;
    
    

}

p{
    font-family: Arial, Helvetica, sans-serif;

    }



.filtresbutton{
border: none;


display:inline-flex;

align-items: center;
height:auto;

background-color: #ffffff;
padding:0;
width:auto;
    margin-bottom: 1rem;
margin-left:1.5rem;



}



.filtresbutton i{
display: inline-flex;
height: 2.5rem;
    align-items: center;
    border:rgb(222, 235, 255) solid 0.15rem;
    border-bottom-right-radius: 1.25rem;
    border-top-right-radius: 1.25rem;


}

.filtresbutton i:before{
    border:#DEEBFF solid 0.15rem;
    border-radius: 60%;
    width:2.5rem;                     /* valeur a modifié pour garder le cercle de l'icone quand on modifie la taille des filtres */
    height:100%;
    margin-left: -1.5rem;
    display:flex;
    align-items:center;      /*centre l'icône à la vertical */
    justify-content:center;  /* centre l'icône en horizontal */

    background-color:#DEEBFF;
}

.filtresbutton a{
padding-left:0.5rem;
    padding-right: 0.5rem;
display: flex;
justify-content: flex-start;
align-items: center;

}

.fas {
    color: #0065FC;
}

.faswhite{
   color: #f2f2f2;
}
/* début hébergement début hébergement début hébergement
début hébergement début hébergement début hébergement */
.hebergementText{
padding-left: 2rem;
    font-size: x-large;
}

.border-hebergement{
    border: 0.20rem solid #ffffff;
    display: inline-flex;
    flex-direction: column;
    border-radius: 2rem;
    background-color: #f2f2f2;
    padding:0;
    flex-grow: 2;
    margin-bottom: 0;

}



.divafficherplus{
margin-left: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    align-content: center;

}

.afficherplus p{
    font-family: Verdana, sans-serif;
    font-size: medium;
}

.afficherplus:link{
    text-decoration:none;
    color:black;
}
.afficherplus:visited{
    color:black;
}

.article-container{
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #f2f2f2;
    background-color: #ffffff;

    border:0.1rem solid #ffffff;
    border-radius: 2rem;



    flex-grow: 1;
    margin-left:2rem;
    margin-bottom:2rem;
}


.hauteurdeligne{
  line-height: 0.5rem;
    display:flex;
    flex-direction: column;
 padding-left: 1rem;


}
.ratepopulaire i::before{
    line-height: 2.5rem;
}

.ratepopulaire{
    margin-bottom: 0;
}

.hauteurdeligne .rate i::before{
    line-height: 2.5rem;
    margin-bottom: auto;
}
.hauteurdeligne p{
margin-bottom: auto;
    font-family: Verdana, sans-serif;
    font-size: medium;
}

.ligne-hebergement{
    display: flex;
    flex-wrap: wrap;
    margin-right: 2rem;
}





/* debut aside */
aside{

}

aside .populaire{
background-color: #f2f2f2;
    height:100%;

    min-width:14rem;

    border: 0.1rem solid #ffffff;

    border-radius:2rem;
    margin-left: 2rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: stretch;
padding: 0;

}

.article--populaire-container{

    border:0.2rem solid #ffffff;
    border-radius: 2rem;
    display:inline-flex;
    margin-bottom:2rem;  /* sur les conteneur inline-flex margin=marge inerieur - padding = marge exterieur */
    margin-left:2rem;
    margin-right: 2rem;


    max-height:10rem;
    padding:0.20rem;
    background-color: white;
}

.article--populaire-container img{
height: 10rem;
width:100%;
}

.article--populaire-container .img{

    width:100%;
}

.populairetext p{
line-height:1rem;

    margin-bottom:0.7rem;
}




.article-container{
    padding:0.10rem;
    display: inline-flex;
    flex-direction: column;

}

.article-container img{
    display: flex;
    justify-content: stretch;
    margin: 0.30rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    height:10rem;
    min-width: 17rem;
}

.article--populaire-container{
    display:inline-flex;
    flex-direction: row;

}

.article--populaire-container img{
width:10rem;
height: 10rem;
    display: flex;
overflow:hidden;
  border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;


}

.article--populaire-container .img{

}

.article--populaire-textwrapper{
  display: flex;
    flex-direction: column;

    padding-left: 1rem;
    justify-content: space-between;


}

.middlepart{
    display: flex;
   flex-wrap: nowrap;
    margin-right: 2rem;
    margin-left: 2rem;



}
/* début footer  début footer  début footer  début footer  début footer 
 début footer  début footer  début footer  début footer */

footer{
    
width:100%;
background-color: #f2f2f2;
    font-family: Verdana, sans-serif;
    font-size: large;
}


footer ul li{
    list-style: none;
flex-grow: 1;
    line-height: 0;


}

footer ul li p{
    font-family: Verdana, sans-serif;
    font-size: small;

}

.footertitre{
    line-height: 0.5rem;
}

.limitationfooterin{     /* footer wrapper */

    display: flex;
    -ms-flex-align: start;
    justify-content: space-between;
    padding-top: 2rem;
    align-items:baseline;
    padding-left:2.5rem;
 flex-direction: row;
    flex-wrap: wrap;
}

.apropos{
    margin-bottom: 2rem;
}
.assistance{

}

footer .up{
    
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    
}




footer .up ul{
display:flex;
    flex-direction: column;
    padding:0;
    
   
}

footer .up li a p{
    font-size: medium;
    font-family: Verdana, sans-serif;
}



footer a{
color:black;
}



footer a{
    outline: none;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: medium;
}



